# files
*~
*.pyc
*.swp
*.bak
*.html
.*lck*
slurm-*
.nfs*
*egg-info
checkSpelling.csh
svGPFA.dic

# directories
# see https://stackoverflow.com/questions/3203228/git-ignore-exception/72380673#72380673
doc/*

!doc/ipynb/
doc/ipynb/*
!doc/ipynb/doEstimateAndPlot_defaultInitialParams.ipynb
!doc/ipynb/doEstimateAndPlot_customIntialParams.ipynb

!/doc/sphinx/
/doc/sphinx/*
!/doc/sphinx/source
/doc/sphinx/source/ipynb

!/doc/design/
/doc/design/*
!/doc/design/svGPFA.vpp

examples/results/*
!examples/results/.gitkeep

examples/figures/*
!examples/figures/.gitkeep

svGPFA.egg-info/*
