# files
*~
*.pyc
*.swp
*.bak
*.html
.*lck*
slurm-*
.nfs*

# directories
doc/
!doc/ipynb/doEstimateAndPlot.ipynb
!/doc/readthedocs/source
!/doc/design/svGPFA.vpp
examples/results/
!examples/results/.gitkeep
examples/figures/
!examples/figures/.gitkeep
svGPFA.egg-info/
